apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: python-api-dev

resources:
  - ../../base

images:
  - name: python-api-gitops
    newName: iesodias/python-api-gitops
    newTag: a510b1f

patches:
  - target:
      kind: Deployment
      name: python-api-gitops
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: add
        path: /spec/template/spec/containers/0/env
        value:
          - name: ENVIRONMENT
            value: "dev"
