apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-api-gitops
  labels:
    app: python-api-gitops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-api-gitops
  template:
    metadata:
      labels:
        app: python-api-gitops
    spec:
      containers:
      - name: api
        image: python-api-gitops:latest
        ports:
        - containerPort: 8000
          name: http
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
