apiVersion: v1
kind: Service
metadata:
  name: python-api-gitops
  labels:
    app: python-api-gitops
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: python-api-gitops
