apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: hello-world

bases:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: dev

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: hello-world
